<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347449433147-0ma8v93rcpjk5i240rvn6qdbvl5vvshh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347449433147-0ma8v93rcpjk5i240rvn6qdbvl5vvshh</string>
	<key>API_KEY</key>
	<string>AIzaSyC4cJ8RSmIysDARSjEw_2eYPl-t3-AOoxA</string>
	<key>GCM_SENDER_ID</key>
	<string>347449433147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SwagPersonalAppExample</string>
	<key>PROJECT_ID</key>
	<string>ebf-mimic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ebf-mimic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347449433147:ios:84095c9cae69546c75501e</string>
</dict>
</plist>